# AEM Content Fragment GraphQL Endpoint
# Replace with your live AEM environment endpoint when ready
NEXT_PUBLIC_AEM_ENDPOINT=http://localhost:4502
NEXT_PUBLIC_AEM_GRAPHQL_ENDPOINT=/content/cq:graphql/real-madrid/exec.json
